body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(207, 213, 194);
    
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }    
    
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
    


hr {
    width: 500px;
    border-color: #6c7072;
}

 
a{ 
    color: rgb(47, 47, 47);
    font-family: 'Sarabun', sans-serif;
    font-size: 0.75rem;
    text-decoration: none;
    transition: all 0.3s ease-in;
}


#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 2px solid rgb(156, 165, 146);
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #94c68f;
    color: rgb(0, 0, 0);
    border-color: rgb(110, 117, 103);
}

.present {
    background-color: #c5b984;
    color: rgb(0, 0, 0);
    border-color: rgb(110, 117, 103);
}

.absent {
    background-color: rgb(207, 213, 194);
    color: rgb(0, 0, 0);
    border-color: rgb(110, 117, 103);
}

.keyboard_absent { 
    background-color: rgba(205, 121, 121, 0.865);
    color: rgb(0, 0, 0);
    border-color: rgb(110, 117, 103);
}

.keyboard-row {
    width: 400px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border-radius: 4px;
    border: 1px solid rgba(120, 127, 112, 0.768);

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border-radius: 4px;
    border: 1px solid rgba(120, 127, 112, 0.768);

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#answer { 
    font-size: 15px;
}

.confetti {
    width: 10px;
    height: 10px;
    background-color: #ffbc33;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
}
